/*
 *  @(#) $Id: target_serial.cfg 951 2008-04-14 08:51:11Z ertl-honda $
 */

/*
 *  SIOドライバ（AT91SAM7S用）のコンフィギュレーションファイル
 */

#include "target_serial.h"
CFG_INT(INTNO_SIO, { INTATR_SIO, INTPRI_SIO });
